@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .result-table {
    @apply w-full sm:table block border-gray-400 whitespace-nowrap;
  }

  .result-table th,
  td {
    @apply border-b border-gray-400 px-2 py-3;
  }
}

.MuiSelect-outlined {
  padding: 5px 10px !important;
}

.MuiFormLabel-colorPrimary {
  color: rgba(31, 41, 55, 1) !important;
}

.result-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.result-table th {
  background-color: #0083c1;
  color: #ffffff;
}

.result-table::-webkit-scrollbar {
  height: 6px;
}

.result-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.result-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #898d94;
}

.select__control--is-focused {
  border-color: #0083c1 !important;
}
